Flask==2.2.5
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.20
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.4
python-socketio==5.7.2
eventlet==0.33.1
Flask-Limiter==2.6.0
Flask-Talisman==0.8.1
itsdangerous==2.1.2
Werkzeug==2.2.3
